<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário</title>
  <link rel="stylesheet" href="../public/stylesheets/estilo.css">
</head>
<body>
  <h1>Informe seu Nome e Senha:</h1>
  <form action="/clientes/login" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
